<h1>New employee</h1>


<div>
  <select name="name">
    <% @companies.each do | company | %>
      <option value="<%= company.name %>"><%= company.name %></option>
    <% end %>
  </select>
</div>

<%= render 'form' %>
