.card {

  &__container {

    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__info {
    margin: 20px;
    width: 20rem;
    height: 40rem;
    border-radius: 5px;
    background-size: contain;
    box-shadow: $box-shadow;
    overflow: hidden;
  }

  &__title {
    color: white !important;
  }

  &__content {
    width: 20rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $secondary-color;
    transition: .5s;
  }
}
