@import '../utilities/variables';

.main {

  &__container {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2rem;
  }
}

.title {
  color: $--white-color;
}

.select {
  position: absolute;
}

.chart {

  &__main__container {
    background-color: $background-color;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: $box-shadow-inset
  }

  &__container {
    background-color: $background-color;
    display: flex;
    align-items: center;
    margin: 2rem;
    width: 90rem;
    height: 30rem;
  }
}

.btn {
  box-shadow: $box-shadow;
  margin: 0 1rem 0 1rem;

  &:hover {
    box-shadow: none;
  }

  &:focus {
    box-shadow: $box-shadow-inset
  }
}
