.clock {
  color: $text-color;
  font-size: 8rem;
  text-shadow: $box-shadow;

  &__container {
    color: $text-color;
    text-align: center;
    text-shadow: $box-shadow;
  }
}

.check {

  &__container {
    flex-direction: column;
  }

  &__content {
    background-color: $secondary-color;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: center;
    padding: 5rem;
  }

  &__label {
    color: $color;
    text-align: none;
  }

  &__buttons {

    &__container {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }

    &__in {
      background-color: $check-in-color;
      border-radius: 0.3rem;
      border: 0;
      padding: 0.5rem;
      transition: 0.5s;

      &:hover {
        opacity: 0.8;
        box-shadow: $box-shadow;
      }
    }

    &__off {
      background-color: $check-off-color;
      border: 0;
      border-radius: 0.3rem;
      padding: 0.5rem;
      transition: 0.5s;
  
      &:hover {
        opacity: 0.8;
        box-shadow: $box-shadow;
      }
    }
  }
}

.message {

  &__content {
    background-color: $color;
    border-radius: 3rem;
    font-weight: bold;
    padding: 0;
    text-shadow: 0.5px 1px 1px $--shadow-text-color;
  }

  .alert {
    color: $notsuccess-color;
  }

  .notice {
    color: $success-color;
  }
}

