.container {
  &__check {
    flex-direction: column;
  }
}
.content {
  background-color: $--primary-color-light;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.time__container {
  font-family: $--primary-font;
  text-align: center;

  .h2 {
    font-size: 7rem;
  }
}

.check__buttons_container {
  display: flex;
  margin-top: 1rem;
  justify-content: space-around;
  padding: 0rem 1.5rem 0rem 1.5rem;

  &__in {
    background-color: $--check-in-color;
    border-radius: 0.3rem;
    border: 0;
    color: $--black-color;

    &:hover {
      background-color: $--green-check;
    }
  }

  &__off {
    background-color: $--check-off-color;
    border: 0;
    border-radius: 0.3rem;
    color: $--black-color;

    &:hover {
      background-color: $--red-check;
    }
  }
}

.admin {
  align-self: initial;
  background-color: $--sencondary-color-light;
  border-radius: 0.5rem;
  border: 0.2rem;
  justify-self: left;
  margin:1rem;
}

.message {
  &__content {
    background-color: $--white-color;
    border-radius: 3rem;
    font-weight: bold;
    padding: 0;
    text-shadow: 0.5px 1px 1px $--shadow-text-color;
  }

  .alert {
    color: $--check-off-color,
  }

  .notice {
    color: $--check-in-color;
  }
}

