.employees {

  &__content {
    align-items: center;
    background-color: $secondary-color;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin: .25rem;
    padding: 0 1rem;
    text-align: left;

    @include small {
      height: max-content;
      flex-direction: column;
      font-size: 20px;
      text-align: center;
    }

    &:nth-child(even) {
      background-color: $card-color;
    }

    &__disabled {
      align-items: center;
      background-color: $diabled-color;
      border-radius: 1rem;
      display: flex;
      justify-content: space-between;
      margin: .25rem;
      padding: 0 1rem;
      text-align: left;

      @include small {
        height: max-content;
        flex-direction: column;
        font-size: 20px;
        text-align: center;
      }
    }
  }
  
  &__data {
    display: block;

    &_name {
      font-size: 2em;
      font-weight: bold;
    }

    &_info {
      font-size: 1.5em;
      font-style: oblique;
      font-weight: lighter;
    }
  }

  &__title {
    color: $color;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
  }

  &__form {

    &__container {
      background-color: $secondary-color;
      border-radius: 0.5rem;
      box-shadow: $box-shadow;
      color: white;
      padding: 2rem;
    }

    &__button {

      &__update {
        background-color: $submit-color
      }

      &__cancel {
        background-color: $cancel-color;
      }
    }

    &__options {
      display: flex;
      justify-content: center;
      margin: 1rem;
      text-align: center;
    }

  }
}
