.login {


  &__main__container {
    flex-direction: column;
  }

  &__title {
    color: $text-color;
    font-size: 6rem;
    text-align: center;
    text-shadow: $box-shadow;
  }

  &__label {
    color: $--white-color;
  }

  &__button {
    background-color: $admin-color;
  }
  
  &__container {
    background-color: $secondary-color;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    padding: 3rem;
    text-align: center;
  }
}

