@import '../utilities/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.card {
  margin: 20px;
  width: 200px;
  height: 300px;
  border-radius: 5px;
  /* background-color: gray; */
  background-image: url("employeesvg.svg");
  background-size: 100% 100%;
  box-shadow: $--box-shadow;
  overflow: hidden;
}

.card2 {
  margin: 20px;
  width: 200px;
  height: 300px;
  border-radius: 5px;
  background-color: white;
  background-image: url("companiesvg.svg");
  background-size: 100% 100%;
  box-shadow: $--box-shadow;
  overflow: hidden;
}

.contenido {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $--primary-color-light-hover;
  opacity: 0;
  transition: .5s;
}

.contenido h2, a {
  color: $--background-hover;
  margin: 10px 0;
}

.card:hover .contenido {
  opacity: 1;
}

.card2:hover .contenido {
  opacity: 1;
}
