@import 'utilities/variables';

.content{
	background-color: $--primary-color-light;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	margin: 3rem 25rem;
	padding: 3rem;
}

.time__container {
	text-align: center;
	font-family: sans-serif;
	.h2{
		font-size: 7rem;
	}
}

.check__buttons_container {
	display: flex;
	margin-top: 1rem;
	justify-content: space-between;
	&__in {
		border: 0;
		background-color: $--check-in-color;
		color: $--black-color;
		&:hover {
			background-color: #b4f5b8;
		}
	}
	&__off {
		background-color: $--check-off-color;
		border: 0;
		color: $--black-color;
		&:hover {
			background-color: #e58581;
		}
	}
}

.admin {
	background-color: $--sencondary-color-light;
	border: 0.2rem;
	border-radius: 0.5rem;
	margin: 2rem 0 0 2rem;
}

.message {
	&__content {
		background-color: $--white-color;
		border-radius: 3rem;
		font-weight: bold;
		padding: 0;
		text-shadow: 0.5px 1px 1px $--shadow-text-color;
	}

	.alert {
		color: $--check-off-color,
	}
	.notice {
		color: $--check-in-color;
	}
}