@import 'utilities/variables';

.container {
	&__login{
		flex-direction: column;
	}
}

.login__content {
	background: url("/assets/admin.svg") center top no-repeat;
	background-color: $--primary-color-light;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 3rem;
	padding: 3rem;
	text-align: center;
}

.back {
	align-items: center;
	background: url("/assets/back.svg") left center no-repeat;
	background-color: $--red-check;
	border-radius: 0.5rem;
	border: 0.2rem;
	display: flex;
	padding: .5rem .5rem .5rem 2rem;
	flex-direction: row;
	margin: 1rem;
}
