
<div class="body">
  <div class="card">
    <div class="contenido">
      <h2>Employees</h2>
      <a href="<%= new_employee_path %>">Administrar Employees</a>
    </div>
  </div>

  <div class="card2">
    <div class="contenido">
      <h2>Empresa</h2>
      <a href="<%= new_company_path %>">Registrar empresa</a>
      <a href="<%= companies_path %>">Administrar Empresas</a>
    </div>
  </div>
</div>
