
<div class="body">
  <div class="card">
    <div class="contenido">
      <h2>Employees</h2>
      <a href="<%= new_employee_path %>">Administrar Employees</a>
    </div>
  </div>

  <div class="card">
    <div class="contenido">
      <h2>Empresa</h2>
      <a href="#">Administrar Empresas</a>
    </div>
  </div>
</div>
