
<div class="hola">

  <div class="admin__card">
    <div class="contenido">
      <h2>Employees</h2>
      <a href="<%= new_employee_path %>">Manage Employees</a>
    </div>
  </div>

  <div class="admin__card">
    <div class="contenido">
      <h2>Company</h2>
      <a href="<%= new_company_path %>">Add new company</a>
      <a href="<%= companies_path %>">Manage companies</a>
    </div>
  </div>
  
</div>
