<a href="<%= root_path %>">
  <button class="back button">Logout</button>
</a>

<div class="card__container">
  <div>
    <h1 class='card__title'>Admin menu</h1>
  </div>
  <div>
    <a href="<%= employees_path %>">
      <div class="card__info">
        <h2 class='card__option'>Employees</h2>
      </div>
    </a>

    <a href="<%= companies_path %>">
      <div class="card__info">
        <h2 class='card__option'>Companies</h2>
      </div>
    </a>
  </div>

</div>
