$--black-color: black;
$--primary-color-dark: #3a414d;
$--primary-color-darks: #919397;
$--primary-color-light: #6D9886;
$--primary-color-light-hover: #6d988685;
$--secondary-color-dark: rgb(200, 175, 134);
$--sencondary-color-light: #d98181;
$--shadow-text-color: hsl(240, 100%, 27%);
$--green-check: #b4f5b8;
$--red-check: #e58581;
$--primary-font: sans-serif;
$--box-shadow: 3px 5px 5px rgba(10, 139, 107, 0.8);
$--background-hover: rgba(0, 0, 0, 0.747);


//global variables

//dark theme
$--white-color: white;
$primary-color: #404258;
$secondary-color: #50577A;
$text-color: #6B728E;
$box-shadow: 3px 3px 8px #36384b, -3px -3px 8px #4a4c65;
$box-shadow-inset: inset 6px 6px 12px #36384b, inset -6px -6px 12px #4a4c65;

$check-in-color: #4ab44f;
$check-off-color: #a75956;

$success-color: green;
$notsuccess-color: red;

$edit-color: #78b57b;
$delete-color: #a75956;

$admin-color: rgb(2, 153, 208);

$submit-color: #78b57b;
$cancel-color: #a75956;

$company-card-color: rgb(111, 144, 183);