<<<<<<< HEAD

  $--black-color: black;
  $--check-in-color: #75FF7D;
  $--check-off-color: #E65550;
  $--primary-color-dark: #3a414d;
  $--primary-color-light: #6D9886;
  $--secondary-color-dark: rgb(200, 175, 134);
  $--sencondary-color-light: #d98181;
  $--white-color: white;
  $--shadow-text-color: hsl(240, 100%, 27%);
  $--green-check: #b4f5b8;
  $--red-check: #e58581;
  $--primary-font: sans-serif;
=======
$--black-color: black;
$--check-in-color: #75FF7D;
$--check-off-color: #E65550;
$--primary-color-dark: #3a414d;
$--primary-color-darks: #919397;
$--primary-color-light: #6D9886;
$--primary-color-light-hover: #6d988685;
$--secondary-color-dark: rgb(200, 175, 134);
$--sencondary-color-light: #d98181;
$--white-color: white;
$--shadow-text-color: hsl(240, 100%, 27%);
$--green-check: #b4f5b8;
$--red-check: #e58581;
$--primary-font: sans-serif;
$--box-shadow: 3px 5px 5px rgba(10, 139, 107, 0.8);
$--background-hover: rgba(0, 0, 0, 0.747);
>>>>>>> 92182d0c971fefb77235c1a4a7a3b068e7cfc919
