$--black-color: black;
$--primary-color-dark: #3a414d;
$--primary-color-darks: #919397;
$--primary-color-light: #6D9886;
$--primary-color-light-hover: #6d988685;
$--secondary-color-dark: rgb(200, 175, 134);
$--sencondary-color-light: #d98181;
$--shadow-text-color: hsl(240, 100%, 27%);
$--green-check: #b4f5b8;
$--red-check: #e58581;
$--primary-font: sans-serif;
$--box-shadow: 3px 5px 5px rgba(10, 139, 107, 0.8);
$--background-hover: rgba(0, 0, 0, 0.747);


//global variables

//dark theme
$hue-color: 132;

$body-color: hsl($hue-color, 60%, 99%);
$color: hsl(0, 0%, 100%);

$box-shadow: 3px 3px 8px hsl($hue-color, 19%, 67%), -3px -3px 8px hsl($hue-color, 9%, 87%);
$box-shadow-inset: inset 6px 6px 12px hsl($hue-color, 16%, 25%), inset -6px -6px 12px hsl($hue-color, 15%, 34%);

$secondary-color: hsl($hue-color, 69%, 61%);
$text-color: hsl($hue-color, 10%, 24%);
$input-color: hsl($hue-color, 10%, 24%);

$check-in-color: hsl($hue-color, 82%, 78%);
$check-off-color: hsl($hue-color, 24%, 47%);

$success-color: hsl($hue-color, 93%, 88%);
$notsuccess-color: hsl($hue-color, 66%, 14%);

$edit-color: hsl($hue-color, 29%, 59%);
$delete-color: hsl($hue-color, 32%, 50%);

$admin-color: hsl($hue-color, 45%, 65%);

$submit-color: hsl($hue-color, 29%, 59%);
$cancel-color: hsl($hue-color, 32%, 50%);

$company-card-color: hsl($hue-color, 33%, 58%);


// --first-color: hsl(var(--hue-color), 69%, 61%);
//     --first-color-second: hsl(var(--hue-color), 69%, 61%);
//     --fisrt-color-alt: hsl(var(--hue-color), 57%, 53%);
//     --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
//     --title-color: hsl(var(--hue-color), 8%, 15%);
//     --text-color: hsl(var(--hue-color), 8%, 45%);;
//     --text-color-light: hsl(var(--hue-color), 8%, 65%);;
//     --input-color: hsl(var(--hue-color), 70%, 96%);;
//     --body-color: hsl(var(--hue-color), 60%, 99%);;

//  /* hsl color mode */
//  --first-color-second: hsl(var(--hue-color), 30%, 8%);
//  --title-color: hsl(var(--hue-color), 8%, 95%);
//  --text-color: hsl(var(--hue-color), 8%, 75%);;
//  --input-color: hsl(var(--hue-color), 29%, 16%);;
//  --body-color: hsl(var(--hue-color), 28%, 12%);;
//  --container-color: hsl(var(--hue-color), 29%, 16%);