<a href="<%= root_path %>" class="a">
  <button class="back">Back</button>
</a>

<div class="container container__login">
  <div class="login__content">
    <h2 class="title">Admin</h2>
    <%= bootstrap_form_tag  url: login_index_path, method: :post do |form| %>
      <%= form.password_field :password, placeholder:"e.g 20161102", class:"input input__login" %>

      <%= form.submit "Log in", class:"button button__login" %>
    <% end %>
  </div>
</div>

