/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */
@import 'rails_bootstrap_forms';
@import 'bootstrap';
@import url('https://fonts.cdnfonts.com/css/minecraft-4');

$--black-color: black;
$--check-in-color: #75FF7D;
$--check-off-color: #E65550;
$--primary-color-dark: #3a414d;
$--primary-color-light: #6D9886;
$--secondary-color-dark: rgb(200, 175, 134);
$--sencondary-color-light: #d98181;
$--white-color: white;
$--shadow-text-color: hsl(240, 100%, 27%);

body {
	background-color: $--primary-color-dark;
  	font-size: 18px;
}

.content{
	background-color: $--primary-color-light;
	display: flex;
	justify-content: center;
	margin: 3rem 25rem;
	padding: 3rem;
}

.time__container {
	text-align: center;
	font-family: sans-serif;
	.h2{
		font-size: 7rem;
	}
}

.check__buttons_container {
	display: flex;
	margin-top: 1rem;
	justify-content: space-between;
	&__in {
		border: 0;
		background-color: $--check-in-color;
		color: $--black-color;
		&:hover {
			background-color: #b4f5b8;
		}
	}
	&__off {
		background-color: $--check-off-color;
		border: 0;
		color: $--black-color;
		&:hover {
			background-color: #e58581;
		}
	}
}

.admin {
	background-color: $--sencondary-color-light;
	border: 0.2rem;
	border-radius: 0.5rem;
	margin: 2rem 0 0 2rem;
}

.message {
	&__content {
		background-color: $--white-color;
		border-radius: 3rem;
		font-weight: bold;
		padding: 0;
		text-shadow: 0.5px 1px 1px $--shadow-text-color;
	}

	.alert {
		color: $--check-off-color,
	}
	.notice {
		color: $--check-in-color;
	}
}
